#  4.7 Deriving variables, if-then statements & for-loops

In [1]:
# Data Frames and pandas,numpy, os were imported
import pandas as pd
import numpy as np
import os

In [11]:
path=r'C:\Users\Ida\Desktop\Instacart Basket Analysis'

In [12]:
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [21]:
# Columns were limited to 10000000 
df = df_ords_prods[:1000000]

In [23]:
# Shape was found to test
df.shape

(1000000, 14)

# If-Statements with User-Defined Functions

In [26]:
# If statement was defines
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [27]:
#If statement was used to create a new column
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Ida\AppData\Local\Temp\ipykernel_9800\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [28]:
# Count of values was found
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [29]:
# Maximum was found to test
df['prices'].max()

14.8

#  If-Statements with the loc() Function

In [33]:
# If statements were used to create a new column without limiting the variables
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [31]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [32]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [34]:
# values were counted
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [35]:
# If statement with LOC() function was used to create a new column with df_ords_prods
df_ords_prods.loc[df_ords_prods['prices']>15,'price_range_loc']='High_range product'

In [38]:
df_ords_prods.loc[(df_ords_prods['prices'] <= 15) & (df_ords_prods['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [39]:
df_ords_prods.loc[df_ords_prods['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [40]:
# values were counted
df_ords_prods['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High_range product      417678
Name: price_range_loc, dtype: int64

# If-Statements with For-Loops

In [51]:
# If statement with for loops were used to create a list
for x in range(30,50):
    print ('I have %d diamonds' %(x))

I have 30 diamonds
I have 31 diamonds
I have 32 diamonds
I have 33 diamonds
I have 34 diamonds
I have 35 diamonds
I have 36 diamonds
I have 37 diamonds
I have 38 diamonds
I have 39 diamonds
I have 40 diamonds
I have 41 diamonds
I have 42 diamonds
I have 43 diamonds
I have 44 diamonds
I have 45 diamonds
I have 46 diamonds
I have 47 diamonds
I have 48 diamonds
I have 49 diamonds

In [46]:
# values were counted to see the busiest days
df_ords_prods['orders_day_of_week'].value_counts(dropna=False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [48]:
# if statement with for loop was used to categorize the data
result = []

for value in df_ords_prods["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [52]:
# new data frame was created
df_ords_prods['busiest_day']=result

In [53]:
# values were counted 
df_ords_prods['busiest_day'].value_counts(dropna=False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# Question 2: Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [59]:
# if statement with for loops was used to create a new column
result = []

for value in df_ords_prods["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest days")
  elif value==1:
    result.append("Busiest days")
  elif value == 4:
    result.append("Slowest Days")
  elif value==3:
    result.append("Slowest Days")
  else:
    result.append("Regularly busy")

In [60]:
df_ords_prods['busiest_days']=result

In [67]:
# The new column deteceted by head() function
df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,1.111328,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.000000,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days
2,473747,1,3,3,12,21.000000,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days
3,2254736,1,4,4,7,29.000000,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days
4,431534,1,5,4,15,28.000000,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days

# Question 3:Check the values of this new column for accuracy. Note any observations in markdown format.

In [68]:
# Accuracy was tested by counting the values. Busiest Days are the sum of two biggest numbers on the list and slowest days are the 
#sum of the smallest numbers on the list. It is accurate.
df_ords_prods['busiest_days'].value_counts(dropna=False)

Regularly busy    12916111
Busiest days      11864412
Slowest Days       7624336
Name: busiest_days, dtype: int64

# Question 4: When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [71]:
#defined a new dataframe  to see which day has the biggest number
counts = df_ords_prods['order_time_of_day'].value_counts(dropna=False)

In [72]:
counts

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_time_of_day, dtype: int64

In [73]:
# Found the quantiles to decide the average, most and fewer orders. Most= Bigger than the 0.75 quantile Fewer=0.25 or LOWER
orders = list(df_ords_prods['order_time_of_day'].value_counts().quantile([0.25, 0.5, 0.75]))

In [74]:
orders

[272562.0, 1117230.5, 2556034.5]

In [111]:
# If statement with loop was used
result = []
for value in df_ords_prods['order_time_of_day']:
  if value in [10, 11, 14, 15, 13, 12]:
    result.append ('Most orders')
  elif value in [8, 9, 16, 17, 18, 19]:
    result.append('Average orders')
  else:
    result.append('Fewer orders')

In [113]:
# Busiest period of day column was detected by head() function
df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,1.111328,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.000000,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Fewer orders
2,473747,1,3,3,12,21.000000,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Most orders
3,2254736,1,4,4,7,29.000000,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Fewer orders
4,431534,1,5,4,15,28.000000,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Most orders

In [112]:
# New column was created
df_ords_prods['busiest_period_of_day'] = result

# Print the frequency for this new column.

In [115]:
# frequency was printed by value_counts() function
df_ords_prods['busiest_period_of_day'].value_counts()

Most orders       16128666
Average orders    11689984
Fewer orders       4586209
Name: busiest_period_of_day, dtype: int64

# Export

In [118]:
path=r'C:\Users\Ida\Desktop\Instacart Basket Analysis'

In [119]:
# New dataframe was exported as a pickle file
df_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_ords_prods.pkl'))