# IMPORTING

In [1]:
# pandas, numpy and os were imported
import pandas as pd
import numpy as np
import os

In [2]:
#the path to upload the files was created
path=r'C:\Users\Ida\Desktop\Instacart Basket Analysis'

In [3]:
# the order_products_prior file was uploaded.
df_order_prods= pd.read_csv(r'C:\Users\Ida\Desktop\Instacart Basket Analysis\02 Data\Original Data\order_products__prior.csv',index_col=None)

In [7]:
#orders_checked file was uploaded
df_ords= pd.read_csv(r'C:\Users\Ida\Desktop\Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv',index_col=None)

In [4]:
df_order_prods.shape

(32434489, 4)

# CHECK DIMENSIONS

In [5]:
# data frame was checked for missing values or any kind of error by head() function and there were none.
df_order_prods.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
## data frame was checked for missing values or any kind of error by head() function
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,1.111484
1,1,1,2398795,1,prior,2,3,7,15.000000
2,2,2,473747,1,prior,3,3,12,21.000000
3,3,3,2254736,1,prior,4,4,7,29.000000
4,4,4,431534,1,prior,5,4,15,28.000000

# MERGING

In [ ]:
#Dataframes were combined my the merge function but Jupyter did not let this happen without dropping the merge flag from the data frame
df_merged_large = df_ords.merge(df_order_prods, on = 'order_id', indicator = True)

In [ ]:
## data frame was checked for missing values or any kind of error by head() function
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,1.111484,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,1.111484,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,1.111484,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,1.111484,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,1.111484,26405,5,0,both

In [ ]:
# Dataframe was checked and flagged - it is merged successfuly.
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting Data in Pickle Format

In [ ]:
#Dataframe was exported as a pickle file.
path=r'C:\Users\Ida\Desktop\Instacart Basket Analysis'

In [ ]:
# #variables from both dataframes were optimized
df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['order_dow']=df_ords['order_dow'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [ ]:
df_order_prods['product_id'] =df_order_prods['product_id'].astype('int32')
df_order_prods['reordered']=df_order_prods['reordered'].astype('int8')
df_order_prods['add_to_cart_order']=df_order_prods['add_to_cart_order'].astype('int32')
df_order_prods['order_id']=df_order_prods['order_id'].astype('int32')

In [ ]:
ords_prods_merged = df_ords.merge(df_order_prods, on = ['order_id'], how = 'outer', indicator = True)

In [ ]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))