# In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [ ]:
#pandas,numpy and os are imported.
import pandas as pd
import numpy as np
import os

# Import Products

In [ ]:
#path to Instacart Basket Analysis is created and poducts-checked.csv file is imported.
path=r'C:\Users\46762\Desktop\Instacart Basket Analysis'

In [ ]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# Import Pickle File

In [ ]:
# orders_products_combined.pkl ia imported.
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Shape and Checking

In [ ]:
# shape of df_orders_products_combined dataframe is found
df_orders_products_combined.shape

(32640698, 13)

In [ ]:
# data frame was checked for missing values or any kind of error by head() function
df_orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,1.111328,196.0,1.0,0.0,both
1,0,0,2539329,1,prior,1,2,8,1.111328,14084.0,2.0,0.0,both
2,0,0,2539329,1,prior,1,2,8,1.111328,12427.0,3.0,0.0,both
3,0,0,2539329,1,prior,1,2,8,1.111328,26088.0,4.0,0.0,both
4,0,0,2539329,1,prior,1,2,8,1.111328,26405.0,5.0,0.0,both

In [ ]:
#the eval_set and other unnecessary values were removed by drop function
df_orders_products_combined.drop(columns = {'eval_set', 'Unnamed: 0','Unnamed: 0.1'}, inplace = True)

In [ ]:
# shape has changed but it is okay since the column was dropped.
df_prods.shape

(49672, 6)

In [ ]:
# data frame was checked for missing values or any kind of error by head() function
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [ ]:
#Unnecessary columns were dropped
df_prods.drop(columns = {'Unnamed: 0'}, inplace = True)

In [ ]:
# data frame was checked for missing values or any kind of error by head() function
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [ ]:
#name of the rows were changed into more understandable names
df_orders_products_combined.rename(columns = {'order_dow':'orders_day_of_week', 'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [ ]:
# data frame was checked for missing values or any kind of error by head() function
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,1.111328,196.0,1.0,0.0,both
1,2539329,1,1,2,8,1.111328,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,1.111328,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,1.111328,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,1.111328,26405.0,5.0,0.0,both

# Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [ ]:
#Dataframes were combined my the merge function but Jupyter did not let this happen without dropping the merge flag from the data frame
df_orderdfs_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [ ]:
df_merged = df_orderdfs_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [ ]:
#variables from products dataframe was optimized
df_prods['aisle_id'] = df_prods['aisle_id'].astype('int8')
df_prods['department_id'] = df_prods['department_id'].astype('int8')
df_prods['prices'] = df_prods['prices'].astype('float16')
df_prods['product_id'] = df_prods['product_id'].astype('int32')

# Confirm the results of the merge using the merge flag

In [ ]:
#Shape was checked after the merfe and it is the same- which means that it is merged succesfully but it would not be the like this if it was not the same number
df_merged.shape

(32404859, 14)

In [ ]:
# Dataframe was checked and flagged - it is merged successfuly.
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size)

In [ ]:
#Dataframe was exported as a pickle file.
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [ ]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))